@import "../../style/commonly";

$font-size: 5rem;
$color: #fff;
$homeUrl: "../../assets/home.jpg";


@mixin text {
  @include centered;
  font-size: $font-size;
  color: $color;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

header {
  position: relative;
  background: url($homeUrl) center center / cover no-repeat;
  overflow: hidden;
  width: 100%;
  height: 100vh;

  h1 {
    @include text;
  }
}

main {
  width: 100%;
  height: 100%;
  position: relative;
  background: url($homeUrl) center center / cover no-repeat;
  zoom: 1;
}

main:after,
main:before {
  content: "";
  display: block;
}

main:after {
  clear: both;
}

.card {
  position: relative;
  float: left;
  width: 50vw;
  height: 50vh;
}

.myCard {
  @include centered;
}

.cardText {
  @include text;
  font-size: $font-size/2.5;
}

.myCard:hover .cardText {
  top: 10vh;
  transition: top 0.5s;
}

::v-deep .el-card__body {
  padding: 0;
}
